@model This_Is_Soccer.Models.Entity.CountryModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(a => a.CountryId);
    @Html.Partial("_CountryForm")
}

