

@{
    ViewBag.Title = "Index";
    <link href="~/Content/football_pitch.css" rel="stylesheet"/>
}

<div class="football-pitch">
    <div class=forward>
        <!--Left attack-->
        <div class="attack player-position">
            <img src="zlatan.png">
            <p class="player-name"></p>
            <p class="position">FWD</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <!--Right Attack-->
        <div class="attacker player-position">
            <img src="aguero.png">
            <p class="player-name"></p>
            <p class="position">FWD</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    </div>

    <div class="midfield">
        <div class="midfielder player-position">
            <img src="messi.png">
            <p class="player-name"></p>
            <p class="position">LW</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <div class="midfielder player-position">
            <img src="kante.png">
            <p class="player-name"></p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <div class="midfielder player-position">
            <img src="pogba.png">
            <p class="player-name"></p>
            <p class="position">CM</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <div class="midfielder player-position">
            <img src="ronaldo.png">
            <p class="player-name"></p>
            <p class="position">RW</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

    </div>
    <div class="defense">
        <div class="defender player-position">
            <img src="alaba.png">
            <p class="player-name"></p>
            <p class="position">LB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <div class="defender player-position">
            <img src="oshea.png">
            <p class="player-name"></p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <div class="defender player-position">
            <img src="Eric_Bertrand_Bailly.png">
            <p class="player-name"></p>
            <p class="position">CB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>

        <div class="defender player-position">
            <img src="ivanovic.png">
            <p class="player-name"></p>
            <p class="position">RB</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    </div>
    <div class="goalkeeper">
        <div class="player-position">
            <img src="degea.png">
            <p class="player-name">a</p>
            <p class="position">GK</p>
            <span class="btn btn-success btn-xs">Add player</span>
        </div>
    </div>
</div>
