

@{
    ViewBag.Title = "Index";
    <link href="~/Content/football_pitch.css" rel="stylesheet"/>
}

<h2>Index</h2>

<div class="football-pitch">
    <div class=forward>
        <!--Left attack-->
        <div class="attack player-position">
            <img src="zlatan.png">
            <p class="player-name">Zlatan Ibrahimovic</p>
            <p class="position">FWD</p>
        </div>

        <!--Right Attack-->
        <div class="attacker player-position">
            <img src="aguero.png">
            <p class="player-name">Sergio Aguero</p>
            <p class="position">FWD</p>
        </div>
    </div>

    <div class="midfield">
        <div class="midfielder player-position">
            <img src="messi.png">
            <p class="player-name">Lionel Messi</p>
            <p class="position">LW</p>
        </div>

        <div class="midfielder player-position">
            <img src="kante.png">
            <p class="player-name">Kanté</p>
            <p class="position">CM</p>
        </div>

        <div class="midfielder player-position">
            <img src="pogba.png">
            <p class="player-name">Paul Pogba</p>
            <p class="position">CM</p>
        </div>

        <div class="midfielder player-position">
            <img src="ronaldo.png">
            <p class="player-name">Cristiano Ronaldo</p>
            <p class="position">RW</p>
        </div>

    </div>
    <div class="defense">
        <div class="defender player-position">
            <img src="alaba.png">
            <p class="player-name">David Alaba</p>
            <p class="position">LB</p>
        </div>

        <div class="defender player-position">
            <img src="oshea.png">
            <p class="player-name">John O'Shea</p>
            <p class="position">CB</p>
        </div>

        <div class="defender player-position">
            <img src="Eric_Bertrand_Bailly.png">
            <p class="player-name">Eric Bailly</p>
            <p class="position">CB</p>
        </div>

        <div class="defender player-position">
            <img src="ivanovic.png">
            <p class="player-name">Branislav Ivanovic</p>
            <p class="position">RB</p>
        </div>
    </div>

    <div class="goalkeeper">
        <div class="player-position">
            <img src="degea.png">
            <p class="player-name">David De Gea</p>
            <p class="position">GK</p>
        </div>
    </div>

</div>