@model This_Is_Soccer.Models.Entity.PlayerModel


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(a => a.PlayerId);
    @Html.Partial("_PlayerForm")
}

