@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron main-page-jumbo">
    <h1>ThisIsSoccer</h1>
    <p><i>This is soccer</i> is a free web application, where you as a user, can set your favorite team with some of the greatest players today.</p>

    <div class="row">
        <div class="outside col-sm-4 col-md-4 col-lg-4">
            <div class="jumbo-sub-div" style="background-color: #1DABB8">
                <div class="number-area">
                    <p style="color: #1DABB8">1</p>
                </div>
                <div class="icon-area">
                    <img src="~/Content/img/add-user.png" />
                </div>
                <div class="jumbo-text-area">
                    <p>Sign up</p>
                </div>
            </div>
          </div>
           <div class="outside col-sm-4 col-md-4 col-lg-4">
                <div class="jumbo-sub-div" style="background-color: #FCB941">
                    <div class="number-area">
                        <p style="color: #FCB941">2</p>
                    </div>
                    <div class="icon-area">
                        <img src="~/Content/img/Stadium Filled-100.png" />
                    </div>
                    <div class="jumbo-text-area">
                        <p>Create your team</p>
                    </div>
                </div>
            </div>
        <div class="outside col-sm-4 col-md-4 col-lg-4">
            <div class="jumbo-sub-div" style="background-color: #55C34D">
                <div class="number-area">
                    <p style="color: #55C34D">3</p>
                </div>
                <div class="icon-area">
                    <img src="~/Content/img/Globe-104.png" />
                </div>
                <div class="jumbo-text-area">
                    <p>Present your team to the world</p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right">
        <p class="btn btn-lg btn-primary">@Html.ActionLink("Get started!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "register-btn" })</p>
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
