@{
    ViewBag.Title = "Home PagezzsdfHALLO";
}
<h1>Hey klar til at lave .net?</h1>
<h2>svar mig roi!</h2>
<h3>Hey</h3>
<h4>Se nu her? Det virker stadigvæk nabs</h4>
<h3>dsfs</h3>
<h1>try</h1>
<h3>med ny ignore fil</h3>